<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{{ page.title }}</title>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                tex2jax: {
                    inlineMath: [['$','$']]
                }
            });
        </script>
        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_SVG"></script>
    </head>
    <body>
        <main>
            <article>
                <div id="container">
                    This is a test: $v_n = e_nx^2$.
                </div>
            </article>
        </main>
    </body>
</html>
