<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{{ page.title }}</title>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                extensions: ['text2jax.js'],
                jax: ['input/TeX', 'output/HTML-CSS'],
                TeX: {
                    extensions: ['https://davidtemplin.github.io/assets/js/xypic.js']
                }
            });
        </script>
        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS_HTML"></script>
        <link rel="stylesheet" type="text/css" href="https://davidtemplin.github.io/assets/css/article.css"/>
    </head>
    <body>
        <main>
            <article>
                <div id="container">
                    {{ content }}
                </div>
            </article>
        </main>
    </body>
</html>
